[Unit]
Description=Open sSprea Nvidia Control GUI
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/slimit-gui
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target